/* 헤더 */
#main-header {
    height: 40px;
    background: #faf7f7;
    position: relative;
}

.header-search-form {
    float: left;
}

.header-menu {
    float: right;
}

.header-title {
    position: absolute;
    width: 200px;
    height: 40px;
    left: 50%;
    margin-left: -100px;
    background: url('../images/JINSMALL.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
}



/* 풀다운메뉴 */
.outer-menu {
    float: left;
    width: 100px;
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
    position: relative;
    text-align: center;

    font-size: 13px;
    font-weight: bold;

    z-index: 9999;
}

.outer-menu:hover {
    background: #e1dfdf;
}

.inner-menu {
    display: none;
    background: #FFFFFF;
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #cccaca;
    box-shadow: 0 2px 4px rgba(34, 25, 25, 0.5);
}

.inner-menu a {
    display: block;
    padding: 5px 10px;
    z-index: 5000;
}

.inner-menu a:hover {
    background: #e1dfdf;
}


/* 내비게이션 메뉴 */
#main-navigation {
    height: 30px;
    background: #fdfdfd;
    border-top: 1px solid #cfcaca;
    box-shadow: 1px 3px 3px rgba(34, 25, 25, 0.4);
   

}

#main-navigation>ul {
    overflow: hidden;
    text-align: center;
    color: aqua;
}

#main-navigation>ul>li {
    display: inline;
    padding: 0 5px;
    line-height: 30px;
    font-size: 13px;
    color: #524d4d;
    text-shadow: 0 1px 1px white;
}

#main-navigation>ul>li:hover {
    background: #e1dfdf;
    border-radius: 2px;
}

.header-search-form {
    height: 26px;
    padding: 7px;
}

.input-search {
    display: block;
    float: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 12px 0 0 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 120px;
    height: 26px;
    padding: 0 0 0 10px;
    font-size: 12px;
    color: #555555;
}

.input-search:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.input-search-submit {
    display: block;
    float: left;
    width: 50px;
    height: 26px;
    border-radius: 0 12px 12px 0;
    border: 1px solid #cccccc;
    margin-left: -1px;

}